.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  

}
.wrapper{
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: #d89216;
  box-shadow: 6px 11px #000000;
}
.mathDisplay{
  height: 70px;
  width: 300px;
  background-color: #2c061f;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 15px;
  color: #e1d89f;

}